body {
    background-image: url(/images/bg_cloud.svg);
    width: 100vw;
    height: 100vh;
    font-family: "Microsoft YaHei";
}
#top {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0%;

    background: #ffa;
    opacity: 0.3;
}

#text-timeleft {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);

    font-size: 2rem;
    color: red;
}

#text-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-size: 2rem;
    color: red;
}

#picExframe {
    width: 2%;
    height: 80%;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

#middle {
    width: 70%;
    height: 70%;
    border-radius: 0.5rem;
    border: 2px solid red;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#game {
    width: 100%;
    height: 100%;
}

.hole{
    /* background: salmon; */
    border: 1px solid #000;
}