body {
    background-image: url(/版本2_天堂見/images/bg_cloud.svg);
    width: 100vw;
    height: 100vh;
}

#middle {
    width: 70%;
    height: 70%;
    border-radius: 0.5rem;
    border: 2px solid red;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#game {
    width: 100%;
    height: 100%;
}

.hole{
    /* background: salmon; */
    border: 1px solid #000;
}