* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Microsoft Yahei";
}

#top {
    width: 100%;
    height: 12.5%;
    position: absolute;
    top: 0%;

    background: wheat;
}

#left {
    width: 15%;
    height: 80%;
    position: absolute;
    top: 12.5%;
    left: 0%;

    background: lightblue;
}

#right {
    width: 15%;
    height: 80%;
    position: absolute;
    top: 12.5%;
    right: 0%;

    background: lightpink;
}

#middle {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 12.5%;
    left: 15%;

    background: rgba(0, 75, 0, 0.356);
}

#footer {
    width: 100%;
    height: 7.5%;
    position: absolute;
    bottom: 0%;

    background: wheat;
}

#top #picExFrame {
    width: 70%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 15%;

    /* border: 1px solid #000; */
}

.pictureEx {
    width: 5%;
    text-align: center;
    font-size: 24px;
    color: rgb(251, 95, 95);
}

.pictureEx img {
    width: 10%;
}

#left p{
    font-size:2rem ;
    margin: 8px 0px 8px 0px;
    text-align: center;
}

#rank div{
    font-size: 24px;
    margin: 0px 8px 16px 8px;

    border: 1px solid #000;
}

.text-highscore{
    float: right;
}

#middle #gamebar {
    width: calc(100% - 32px);
    height: 7%;
    margin: 0rem 1rem;
    z-index: 1;
    position: absolute;
    top: 0%;

    font-size: 20px;
    font-weight: bold;
    border: 1px solid #000;
}

#game {
    width: calc(100% - 34px);
    height: calc(93% - 2px );
    margin: 0rem 1rem;
    position: absolute;
    top: 7%;
    position: relative;

    border: 1px solid #000;
}

.hole {
    width: 20%;
    margin: auto;
    border: 1px solid black;
}

.hole img{
    width: 100%;
}

#hole7 {
    position: absolute;
    left: 5%;
}

#hole8 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

#hole9 {
    position: absolute;
    right: 5%;
}

#hole4 {
    position: absolute;
    left: 5%;

    top: 50%;
    transform: translateY(-50%);
}

#hole5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#hole6 {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

#hole1 {
    position: absolute;
    left: 5%;
    bottom: 0%;
}

#hole2 {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
}

#hole3 {
    position: absolute;
    right: 5%;
    bottom: 0%;
}

#btn-start {
    width: 8%;
    height: 7%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 160%;

    background: rgb(0, 132, 255);
    border-radius: 0.5rem;
    border:4px solid rgb(1, 109, 211);
    font-size: 2rem;
    color: rgb(255, 208, 0);
}
